################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiAiDemo/bin
/ApiAiDemo/obj
/.vs/ApiAiDemo/v14
